/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 jul. 2019, 17:53:31
    Author     : CYBER-SERVER
*/

body{
    background-color: #AAAAFF;
    color: white;
    font-family: Helvetica;
}
strong{
    background-color: #FFAAAA;
}